.app {
  display: grid;
  width: '100nv';
  height: '100vh';
  margin: 3px;
  padding: 1px;

  grid-template-areas: 
  'navbar header'
  'navbar content';

  grid-template-rows: 1fr 7fr;
  grid-template-columns: 1fr 7fr;
}